html{
    width:100%;
    height:100%;
    margin: 0;
}

body{
    width:100%;
    height:100%;
    margin: 0;
    background-color: #20242d;
    display: flex;
}

hr {
    margin: 0px;
    border: none;
    background-color: #262c39;
    color: #262c39;
    height: 1px;
}

li {
    list-style-type: none;
}
ul {
    margin-left: 0;
    padding-left: 0;
}

* {
    margin: 0;
}

.main{
    height: 100%;
    width: 1280px;
    display:flex;
    margin-left: auto;
    margin-right: auto;
}

.profile-info-box{
    height : 100%;
    width: 83%;
    box-sizing: border-box;
    padding: 15px 10px 15px 5px;
}

.profile-box{
    background-color: rgba(28, 32, 40, 1.0);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    height:100%;
    position:relative;
}

.home-info-box{
    height : 100%;
    width: 83%;
    box-sizing: border-box;
    padding: 15px 10px 15px 5px;
}

.home-box{
    background-color: rgba(28, 32, 40, 1.0);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    height:100%;
    position:relative;
}

.settings-info-box{
    height : 100%;
    width: 83%;
    box-sizing: border-box;
    padding: 15px 10px 15px 5px;
}

.settings-box{
    background-color: rgba(28, 32, 40, 1.0);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    height:100%;
    position:relative;
}

.preview-remove {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    font-weight: bold;
    cursor: pointer;
    background: rgba(255, 255, 255, .5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-button {
    display:none;
}

.block-menu {
    background-color: rgba(28, 32, 40, 1.0);
    border-radius: 20px;
    padding: 0px 10px;
    height:100%;
    position:relative;
    box-sizing: border-box;
}

.friend-menu{
    background-color: rgba(28, 32, 40, 1.0);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    height:100%;
    position:relative;
}

.block-menu-border {
    height : 100%;
    width: 17%;
    box-sizing: border-box;
    padding: 15px 5px 15px 10px;
}

.friend-menu-border{
    height : 100%;
    width: 31%;
    box-sizing: border-box;
    padding: 15px 5px 15px 5px;
}

.logo-border{
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.logo-text{
    font-family: Verdana;
    color:#ffffff;
    text-decoration: none;
    font-size:22px;
    display: block;
}

.logo-text:hover {
  color: #d1d1d1;
}



.header {
    margin: 5px 0px;
    padding-left: 15px;
    font-family: Verdana;
    color:#748198;
    text-decoration: none;
    font-size:15px;
    height: 30px;
    display: block;
    text-align: left;
    line-height: 28px;
    border-radius: 15px;
    border: 1px solid rgba(28, 32, 40, 1.0);
}

.header-active {
    margin: 5px 0px;
    padding-left: 15px;
    font-family: Verdana;
    color:#ffffff;
    text-decoration: none;
    font-size:15px;
    height: 30px;
    display: block;
    text-align: left;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #343a46;
}

.header:hover{
    color:#ffffff;
    border: 1px solid #343a46;
}

.dropdown{
    position: absolute;
    display:block;
    box-sizing: border-box;
    padding: 5px 25px;
    width: 100%;
    bottom: 15px;
    left: 0;
    text-align: center;
    height: 35px;
    line-height: 35px;
}

.name-user{
    font-family: Verdana;
    color:#748198;
    text-decoration: none;
    font-size:20px;
    display: block;
    border-radius: 15px;
    border: 1px solid rgba(28, 32, 40, 1.0);
}

.name-user:hover{
    color:#ffffff;
    border: 1px solid #343a46;
}

.form-search{
    display:flex;
    position:relative;
    height: 35px;
    margin-bottom: 5px;
}

.input-search{
    color: #d1d1d1;
    position: absolute;
    right: 0px;
    height: 30px;
    padding-left:15px;
    background-color: #232932;
    border-radius: 7px;
    border: 0px solid rgba(28, 32, 40, 1.0);
    outline: none;
}

::placeholder {
    color: #d1d1d1, 0.5;
}

.input-search:focus::placeholder{
    color: #343a46;
}

.search-icon{
    position: absolute;
    right: 5px;
    width: 30px;
    height: 30px;
    fill: #232932;
    cursor: pointer;
}

.search-icon:hover{
    fill: #748198;
}

.add-group-chat-icon{
    width: 30px;
    height: 30px;
    fill: #232932;
    cursor: pointer;
}

.add-group-chat-icon:hover{
    fill: #748198;
}

.clip-icon{
    width: 37px;
    height: 37px;
    fill: #232932;
    cursor: pointer;
}

.clip-icon:hover{
    fill: #748198;
}

.send-message-icon{
    width: 40px;
    height: 40px;
    fill: #232932;
    cursor: pointer;
}

.send-message-icon:hover{
    fill: #748198;
}

.trash-can-icon{
    position:absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    fill: #748198;
    cursor: pointer;
}

.trash-can-icon:hover{
    fill: rgba(28, 32, 40, 1.0);
}

.trash-can-icon-naw{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 25px;
    fill: #232932;
    cursor: pointer;
}

.trash-can-icon-naw:hover{
    fill: #748198;
}

.add-friend-icon{
    width: 30px;
    height: 30px;
    fill: #232932;
    cursor: pointer;
}

.add-friend-icon:hover{
    fill: #748198;
}

.add-file{
    width: 35px;
    height: 35px;
    margin:0px;
}

.add-file:hover .prompt-add-file{
    opacity: 0.8;
    visibility: visible;
}

.prompt-add-file{
    line-height: 15px;
    visibility: hidden;
    opacity: 0;
    font-size: 13px;
    font-family: sans-serif;
    position:absolute;
    bottom: 45px;
    left: -20px;
    padding:7px;
    border-radius: 7px;
    color: #fff;
    background-color: #000;
    z-index: 1;

    transition: all .17s;
}

.prompt-add-file::after{
    content: '';
    position:absolute;
    border: 0 solid transparent;
    left: 30%;
    top: 100%;
    border-width: 5px 5px 0px 5px;
    border-top-color: #000;
}

.delete-chat{
    width: 30px;
    height: 30px;
    margin:0px;
}

.delete-chat:hover .prompt-delete-chat{
    opacity: 0.8;
    visibility: visible;
}

.prompt-delete-chat{
    visibility: hidden;
    opacity: 0;
    font-size: 13px;
    font-family: sans-serif;
    position:absolute;
    top:41px;
    left: -14px;
    padding:7px;
    border-radius: 7px;
    color: #fff;
    background-color: #000;
    z-index: 1;

    transition: all .17s;
}

.prompt-delete-chat::after{
    content: '';
    position:absolute;
    border: 0 solid transparent;
    left: 30%;
    bottom: 100%;
    border-width: 0 5px 5px 5px;
    border-bottom-color: #000;
}

.new-group-chat{
    width: 30px;
    height: 30px;
    margin:0px;
}

.new-group-chat:hover .prompt-new-group-chat{
    opacity: 0.8;
    visibility: visible;
}

.prompt-new-group-chat{
    visibility: hidden;
    opacity: 0;
    font-size: 13px;
    font-family: sans-serif;
    position:absolute;
    top:41px;
    left: -30px;
    padding:7px;
    border-radius: 7px;
    color: #fff;
    background-color: #000;
    z-index: 1;

    transition: all .17s;
}

.prompt-new-group-chat::after{
    content: '';
    position:absolute;
    border: 0 solid transparent;
    left: 30%;
    bottom: 100%;
    border-width: 0 5px 5px 5px;
    border-bottom-color: #000;
}

.add-friend{
    width: 30px;
    height: 30px;
    margin:0px;
}

.add-friend:hover .prompt-add-friend{
    opacity: 0.8;
    visibility: visible;
}

.prompt-add-friend{
    visibility: hidden;
    opacity: 0;
    font-size: 13px;
    font-family: sans-serif;
    position:absolute;
    top:41px;
    left: -30px;
    padding:7px;
    border-radius: 7px;
    color: #fff;
    background-color: #000;
    z-index: 1;

    transition: all .17s;
}

.prompt-add-friend::after{
    content: '';
    position:absolute;
    border: 0 solid transparent;
    left: 35%;
    bottom: 100%;
    border-width: 0 5px 5px 5px;
    border-bottom-color: #000;
}

.friends-box{
    font-size: 0;
    height: calc(100% - 40px);
    border-radius: 15px;
    overflow-y:auto;
    overflow-x:hidden;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background: rgba(28, 32, 40, 1.0);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background: #748198;
    cursor: pointer;
}

::-webkit-scrollbar-track:hover{
    background: #232932;
}

.friend-block{
    position:relative;
}

.friend{
    padding-left:10px;
    height: 60px;
    border-radius: 10px;
    font-family: Verdana;
    color:#748198;
    text-decoration: none;
    font-size:15px;
    display: flex;
    text-align: left;
    line-height: 40px;
    position:relative;
}

.friend:hover{
    background-color: #232932;
}

.popup-new-friend{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top:0;
    left:0;
    opacity: 0;
    visibility: hidden;
    overflow-y:auto;
    overflow-x:hidden;
    transition: all 0.5s ease 0s;
}

.popup-new-friend:target{
    opacity: 1;
    visibility: visible;
}

.popup-new-friend__body{
    min-height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding 30px 10px;
}

.popup-new-friend__content{
    background-color: rgba(28, 32, 40, 1.0);
    border-radius: 15px;
    width: 500px;
    height: 300px;
    position:relative;
}

.popup-new-friend__close{
    position: absolute;
    right: 10px;
    top:0;
    font-size:35px;
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

.popup-new-friend__close:hover{
    color:#748198;
}

.popup__area{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.input-new-friend{
    color: #d1d1d1;
    position: absolute;
    font-size:15px;
    top: 30%;
    left: 25px;
    height: 50px;
    width: 435px;
    padding-left:15px;
    background-color: #232932;
    border-radius: 15px;
    border: 0px solid rgba(28, 32, 40, 1.0);
    outline: none;
}

.input-new-friend:focus::placeholder{
    color: #343a46;
}

.label-email{
    position: absolute;
    top: 50%;
    left: 25px;
    width: 450px;
    font-size:17px;
    color: #748198;
}

.button-new-friend{
    cursor: pointer;
    position: absolute;
    display: block;
    bottom: 15px;
    right: 15px;
    padding: 10px;
    font-size:15px;
    background-color: #2b5278;
    color: #ffffff;
    border: 0px solid rgba(28, 32, 40, 1.0);
    border-radius: 5px;
    outline: none;
}

.button-new-friend:hover{
    background-color: #1767f6;
}

.exception-new-friend{
    font-family: Trebuchet MS, sans-serif;
    position: absolute;
    top: 10%;
    left: 25px;
    width: 450px;
    font-size:20px;
    color: red;
}

.chat-block{

}

.chat{
    padding-left:10px;
    height: 60px;
    border-radius: 10px;
    font-family: Verdana;
    color:#748198;
    text-decoration: none;
    font-size:15px;
    display: flex;
    text-align: left;
    line-height: 40px;
    position:relative;
}

.chat:hover{
    background-color: #232932;
}

.last-message{
    padding-bottom:5px;
    display:block;
    height: 25px;
    color:#748198;
    font-size:15px;
    position: absolute;
    bottom: 5px;
    left: 15px;
    max-width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date-last-message{
    display:block;
    height: 25px;
    color:#748198;
    font-size:13px;
    position: absolute;
    top: 0px;
    right: 15px;
}

.name-chat{
    display:block;
    height: 25px;
    color:#ffffff;
    font-size:15px;
    position: absolute;
    top: 0px;
    left: 15px;
}

.chat-box-border{
    height : 100%;
    width: 52%;
    box-sizing: border-box;
    padding: 15px 10px 15px 5px;
}

.chat-box{
    background-color: rgba(28, 32, 40, 1.0);
    padding: 10px;
    border-radius: 20px;
    box-sizing: border-box;
    height:100%;
    position:relative;
}

.chat-box-message{
    height: calc(100% - 88px);
    border-radius: 15px;
    overflow-y:auto;
    overflow-x:hidden;
    flex-direction: column-reverse!important;
    display: flex!important;
}

.typing-area-border{
    position:absolute;
    bottom: 8px;
    height: 40px;
    line-height: 40px;
    width: calc(100% - 20px);
    display: flex;
}

.input-message{
    margin-left:10px;
    margin-right:10px;
    color: #d1d1d1;
    height: 35px;
    width: 70%;
    padding-left:15px;
    background-color: #232932;
    border-radius: 7px;
    border: 0px solid rgba(28, 32, 40, 1.0);
    outline: none;
    font-size: 15px;
}

.input-message:focus::placeholder{
    color: #343a46;
}

.block-message{
    width: 99%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.block-message-sender{
    position:relative;
    display: inline-block;
    vertical-align: top;
    max-width: 400px;
    min-width: 100px;
}

.block-message-receiver{
    position:relative;
    display: inline-block;
    vertical-align: top;
    max-width: 400px;
    min-width: 100px;
}

.sender-message{
    background-color: #232932;
    padding-left: 10px;
    padding-right: 45px;
    padding-top: 30px;
    padding-bottom: 5px;
    border-radius:15px;
    font-size: 17px;
    color: #fff;
    overflow-wrap: break-word;
}

.sender-message-date{
    position:absolute;
    bottom:5px;
    right:10px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

.sender-message-author{
    position:absolute;
    top: 5px;
    left: 10px;
    font-size: 15px;
    color: #7965c1;
}

.receiver-message{
    background-color: #2b5278;
    padding-left: 45px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius:15px;
    font-size: 17px;
    color: #fff;
    overflow-wrap: break-word;
}

.receiver-message-date{
    position:absolute;
    bottom:5px;
    left:10px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

.print-file{
    max-width: 400px;
    min-width: 0px;
    height: auto;
}