<div th:fragment="blockChatBox" xmlns:th="http://www.thymeleaf.org">

    <div class="chat-box">
        <!--верхняя панель-->
        <nav>
            <div class="form-search">
                <div class="chat-name" th:text="${chat.nameChat}"></div>
                <svg class="search-icon">
                    <use xlink:href="#search"></use>
                </svg>
                <div class="more-icon">
                    <svg class="more-icon-naw">
                        <use xlink:href="#more"></use>
                    </svg>
                    <div class="prompt-more-icon">
                        <a class="element-more" th:href="@{/chat/}+${chat.chatId}+@{/addUser}" th:if="${chat.chatType == 'group'}">
                            Добавить пользователя
                        </a>
                        <a class="element-more" style="color:red" th:href="@{/chat/}+${chat.chatId}+@{/delete}">
                            Удалить только у меня
                        </a>
                        <a class="element-more" style="color:red" th:href="@{/chat/}+${chat.chatId}+@{/deleteAll}" th:if="${chat.chatType != 'saved'}">
                            Удалить у всех
                        </a>
                    </div>
                </div>
            </div>
        </nav>

        <hr>

        <!--область вывода сообщений-->
        <div id="messages" class="chat-box-message">
            <th:block th:each="printMessage : ${printMessages}">
                <div align="right" class="block-message" th:if="${printMessage.author}" th:include="blocks/blockReceiverMessage :: blockReceiverMessage"></div>
                <div class="block-message" th:unless="${printMessage.author}" th:include="blocks/blockSenderMessage :: blockSenderMessage"></div>
            </th:block>
        </div>

        <hr style="width: 96%; position: absolute; bottom: 55px; right:10px;">

        <!--поле для ввода сообщения-->
        <div class="typing-area-border">
            <input id = "chatID" type="hidden" th:attr="value=${chat.chatId}">
            <input id = "name" type="hidden" th:attr="value=${user.name}">
            <input id = "userId" type="hidden" th:attr="value=${user.id}">

<!--            <button id="send" class="btn btn-outline-success" type="button">send</button>-->
<!--            <button id="open" class="btn btn-outline-primary" type="button">open file</button>-->
            <div class="add-file">
                <input type="file" style="display:none" id="input__file">
                <a for="input__file" id="open">
                    <svg class="clip-icon">
                        <use xlink:href="#clip"></use>
                    </svg>
                </a>
                <div class="prompt-add-file">Добавить файл</div>
            </div>
            <input type="text" id ="message" name="message" placeholder="Type a message" class="input-message">
            <input type="file" name="file" id="file" class="file-button">
        </div>
    </div>

    <!--popup добавление пользователя в чат-->
    <div id="popup-add-user" class="popup-add-user" th:classappend="${openPopupAddUser} ? open">
        <a onclick="closePopupAddUser()" class="popup-area"></a>
        <div class="popup-body">
            <div class="popup-new-group-chat__content">
                <h1 class="new-friend-text" style="font-size: 20px;">Список пользователей</h1>
                <div class="form-new-group-chat" style="height: calc(100% - 140px);background-color:#232932;margin-top:10px;">
                    <th:block th:each="userInChat : ${listUserInChat}">
                        <div th:unless="${userInChat.id == user.id}" class="user-in-chat">
                            <h3 style="width: calc(100% - 35px);" th:text="${userInChat.name}"></h3>
                            <form method="POST" th:action="@{/chat/}+${chat.chatId}+@{/delete/}+${userInChat.id}">
                                <button class="button-delete-user">
                                    <svg class="trash-user">
                                        <use xlink:href="#trash-can"></use>
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </th:block>
                </div>
                <h1 class="new-friend-text" style="font-size: 20px;margin-top:10px;">Добавить пользователя</h1>
                <form method="post" th:action="@{/chat/}+${chat.chatId}+@{/addUser}" style="width:100%;">
                    <input name="newUserEmail" class="input-add-user" type="text" placeholder="email пользователя">
                </form>
                <p id="exception-add-user" class="exception-new-friend" th:text="${exception}"></p>
            </div>
        </div>
    </div>

</div>






