<div th:fragment="blockChatBox" xmlns:th="http://www.thymeleaf.org">

    <div class="chat-box">
        <!--верхняя панель-->
        <nav>
            <div class="form-search">
                <svg class="trash-can-icon-naw">
                    <use xlink:href="#trash-can"></use>
                </svg>
                <input class="input-search" placeholder="Search">
                <svg class="search-icon">
                    <use xlink:href="#search"></use>
                </svg>
            </div>
        </nav>

        <hr>

        <!--область вывода сообщений-->
        <div id="messages" class="chat-box-message">
            <th:block th:each="printMessage : ${printMessages}">
                <div align="right" class="block-message" th:if="${printMessage.author}" th:include="blocks/blockReceiverMessage :: blockReceiverMessage"></div>
                <div class="block-message" th:unless="${printMessage.author}" th:include="blocks/blockSenderMessage :: blockSenderMessage"></div>
            </th:block>
        </div>

        <hr style="width: 96%; position: absolute; bottom: 55px; right:10px;">

        <!--поле для ввода сообщения-->
        <div class="typing-area-border">
            <input id = "chatID" type="hidden" th:attr="value=${chatID}">
            <input id = "name" type="hidden" th:attr="value=${name}">
            <input id = "userId" type="hidden" th:attr="value=${userId}">

<!--            <button id="send" class="btn btn-outline-success" type="button">send</button>-->
<!--            <button id="open" class="btn btn-outline-primary" type="button">open file</button>-->
            <a onclick="#file" id="open">
                <svg class="clip-icon">
                    <use xlink:href="#clip"></use>
                </svg>
            </a>
            <input type="text" id ="message" name="message" placeholder="Type a message" class="input-message">
            <input type="file" name="file" id="file" class="file-button">
            <a>
                <svg align="right" class="send-message-icon">
                    <use xlink:href="#send-message"></use>
                </svg>
            </a>
        </div>
    </div>

</div>



