<div th:fragment="blockSenderMessage" xmlns:th="http://www.thymeleaf.org">

    <div class="media w-50 mb-3">
        <div class="media-body ml-3">

            <input class = "messageId" type="hidden" th:attr="value=${printMessage.messageId}">
            <h6 th:text ="${printMessage.nameAuthor}"></h6>
            <div class="bg-light rounded py-2 px-3 mb-2">
                <p class="text-small mb-0 text-muted" th:text ="${printMessage.message}"></p>
            </div>
            <p id="date" class="small text-muted" th:text ="${printMessage.date}"></p>
        </div>
    </div>

</div>
