<div th:fragment="blockMenu" xmlns:th="http://www.thymeleaf.org">
    <div class="block-menu">
        <div class="logo-border">
            <a href="/home" class="logo-text">Messenger</a>
        </div>
        <hr>
        <div style="padding: 5px 0px;">
                <a href="/profile" th:class="${activePage == 'PROFILE'} ? header-active : header">Profile</a>
                <a href="/friends" th:class="${activePage == 'FRIENDS'} ? header-active : header">Friends</a>
                <a href="/chat" th:class="${activePage == 'CHAT'} ? header-active : header">Chat</a>
<!--                <a href="/newgroupchat" th:class="${activePage == 'NEWGROUPCHAT'} ? header-active : header">New group chat</a>-->
<!--                <a href="/addUserGroupChat" th:class="${activePage == 'ADDUSERGROUPCHAT'} ? header-active : header">Add USER in GC</a>-->
                <a href="/settings" th:class="${activePage == 'SETTINGS'} ? header-active : header">Settings</a>
                <a href="/exit" class="header">exit</a>
        </div>
        <hr>
        <hr style="width: 90%; position: absolute; bottom: 55px; right:10px;">
        <div class="dropdown">
            <a href="/profile" class="name-user" th:text="${title}">
            </a>
        </div>
    </div>
</div>
