<div th:fragment="blockSenderMessage" xmlns:th="http://www.thymeleaf.org">

        <div class="block-message-sender">
                <div>
                        <img th:if="${printMessage.file}" th:attr="src=${printMessage.nameFile}" class="print-file">
                </div>
                <div style="position:relative; width: auto">
                        <input class = "messageId" type="hidden" th:attr="value=${printMessage.messageId}">
                        <p class="sender-message" th:text ="${printMessage.message}"></p>
                        <p class="sender-message-author" th:text ="${printMessage.nameAuthor}"></p>
                        <p id="date" class="sender-message-date" th:text ="${printMessage.date}"></p>
                </div>
        </div>
</div>
